// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
/* You can add global styles to this file, and also import other style files */
textarea
{
    resize: both;
}

*
{
    font-size: large;
}

ul
{
    li
    {
        margin-bottom: 5px;
    }
}

.mb
{
    margin-bottom: 100px;
}
